<div class="title emphasis"> Gran Gran's Baked Goods. </div>


<div>
	<p>Welcome to Gran Gran's baked goods. These are the best baked goods you can get in Fargo and definitely the third best in North Dakota</p>
</div>




	